# Ignore the data folder
data/

# Ignore Python compiled files and cache
__pycache__/
*.pyc
*.pyo

# Ignore saved model weights (prevents massive repos)
models/saved_weights/
*.pth
*.pt
*.h5

# Ignore temporary download logs
wget-log

.env

# Slurm outputs
*.out
*.err

# Weights&Biases
wandb/